// src/pages/diy/index.scss
.diy-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background: #FAFAFA;

  &__canvas {
    flex: 6;
    min-height: 0;
    background: linear-gradient(180deg, #DEB887, #D2B48C);
  }

  &__selector {
    flex: 4;
    min-height: 0;
    overflow: hidden;
  }
}
